# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.lib
*.la
*.a

# Executables
*.out
*.app

# Out
*.pdb
*.exe
*.ilk
*.exp

# Folders
/.vs
/bin/intermediates
/bin/Win32/Debug/HelloGraphics.exp
/bin/Win32/Debug/HelloGraphics.lib
/bin/Win32/Debug/res
